<h2> Here are our subs:</h2>

<ul>
  <% @subs.each do |sub| %>
  <li> <%= link_to sub.title, sub_url(sub.id) %></li>
  <% end %>
</ul>

<%= button_to "Create a sub", new_sub_url, method: :get, form_class: :subs%>
